/* src/Navbar.css */
.navbar {
  display: flex;
  position: relative;
  width: 200px;
  justify-content: center;
  gap: 33px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  z-index: 20;
}
.nav-links {
  background-color: #57b894;
  display: flex;
  gap: 8px;
  border-radius: 10px;
  /* padding: 10px; */
}

.active {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
}

.inactive {
  padding: 10px;
}
