.clg-name {
    font-size: 30px;
}

li {
    font-size: 20px;
}

.branch {
    margin-left: 20%;
}

.name {
    margin-left: 20px;
}

.AllPostss {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.card-body{
    height: auto;
}

.filter {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    margin-right: 10%;
}
