html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.org {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  background-color: var(--facebook-color);
}

.backarrow {
  font-size: 22px;
  margin-top: 12px;
}

.slidebar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userprofile {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.userprofilename {
  margin-right: 0;
}

.userprofilenotification {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  text-decoration: none;
}

.line {
  height: 30px;
  width: 1px;
  background-color: black;
}

.userprofile button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  padding: 3px 10px;
  font-size: 16px;
  background-color: var(--gray);
  color: var(--blue);
  border-radius: 25px;
  margin-left: 5px;
  font-weight: 600;
}

.userprofile button a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--blue);
  border-radius: 15px;
  font-weight: 600;
}

.userprofile button a:hover {
  color: var(--white);
}

.userprofile button:hover {
  background-color: var(--google-color);
  color: var(--white);
}

.logouticons {
  font-size: 22px;
  /* margin-top: 10px; */
}

.userprofileicon {
  font-size: 33px;
  margin-top: 10px;
  margin-right: 10px;
}

.maincontent {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f0f0f0;
  height: 91vh;
}

.content h1 {
  margin-bottom: 20px;
}


.addasset {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 40px;
  margin-left: 85%;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--google-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

table th,
table td {
  border: 1px solid #ddd; /* Ensure borders are applied */
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


.options {
  display: flex;
  justify-content: space-evenly;
}

.optionedit {
  border: none;
  text-align: center;
  width: 25px;
}
.optiondelete {
  border: none;
  text-align: center;
  width: 25px;
}

.edit,
.delete {
  font-size: 20px;
  cursor: pointer;
}
.applicants{
  font-size: 30px;
}
.contentss {
  /* width: 800px; */
  width: 80%;
  height: 100vh;
  height: auto;
  max-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border-radius: 20px;
  border: 2px solid green;
  margin-top: 10%;
}
.close{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 60px;
  height: 40px;
  font-size: 15px;
  background-color: rgb(177, 3, 3);
  border-radius: 10px;
  /* margin-bottom: 20px; */

}